## Variable and Data Type
* Assignemet Variable

In [44]:
# define a variable name "a" and assign value 5 to it
a = 5

In [34]:
# this is a print variable 
print(a)

5

In [45]:
a=45
b=20
a=b
a=34
A=42
B=2

In [46]:
print(a)
print(b)
print(B)
print(A)

34
20
2
42


## Data types

* int
* string
* float
* bool

In [47]:
# integer type
a=5
# float
b=2.5
# string
c="Arun"
#boolen
d=True

In [48]:
type(a)

int

In [39]:
type(b)

float

In [40]:
type(c)

str

In [41]:
type(d)

bool

## Type Conversion
* Convert float to interger

In [42]:
# age is generally interger number
my_age=23.33333
my_age=int(my_age)
my_age

23

* Convert string to integer

In [43]:
my_age='4'+6

TypeError: can only concatenate str (not "int") to str

In [ ]:
my_age=int('4')+6
my_age

<center><h1> 📍📍 Theory of Operators 📍📍 </h1> </center>


* ***Arithmetic operators***  

* ***Comparison operators***

* ***Logical operators***

In [49]:
a = 4
b = 5
c = 6.63
str ='Arun'

In [50]:
a = 4
b = 5

In [51]:
print(a+b)

9

In [52]:
print(a-b)

-1

In [53]:
print(a*b)

20

In [54]:
print(a/b)

0.8

In [55]:
a**b

1024

In [56]:
a//b

0

In [57]:
a%b

4

In [58]:
a==b

False

In [59]:
a != b

True

In [60]:
a == 51

False

In [61]:
type(a == b)

bool

In [62]:
a>b

False

In [63]:
a<b

True

In [64]:
a>=51

False

In [65]:
(1 == 1) and (2 == 2)

True

In [66]:
(1 == 1) or (3 == 4)

True

In [72]:
(1 <= 2) or ((2 > 3) or (4 == 4))

True


## 📌📌 Indentation and Comments in Python

***Before we start Conditional Statements, let's have a look at `indentation` and `comments` in Python.***

#### `INDENTATION`


 - Indentation means `(spaces and tabs)` that are used at the beginning of any statement. The statements with the same indentation belong to the same group also called as `suite`.

In [73]:
a = 5
    b = 6 # unexpected extra space will give us an error

IndentationError: unexpected indent (763307979.py, line 2)

In [70]:
if (2 == 2):
    print('True Statement')

True Statement

In [71]:
print('This line will be executed')
# print('This is a comment')
# This line does nothing !!!

This line will be executed


<center><h1> 📍 📍 Conditional Statements 📍 📍 </h1></center>


---
***CONDITIONAL OPERATORS***

* ***Double Equals:*** a == b
* ***Not Equals:*** a != b
* ***Less than:*** a < b
* ***Less than or equal to:*** a <= b
* ***Greater than:*** a > b
* ***Greater than or equal to:*** a >= b

In [74]:
# if Statement
x = 2
if(x==2):
    print('The condition in the Statement is True.')

The condition in the Statement is True.

In [75]:
# if "The condition in the if statement is false."
if(x==3):
    print('The condition in the statement is True')

In [76]:
# With the one condition
a = 10
b = 20
if(a>b):
    print('a is greater than b.')
else:
    print('a is smaller than b')

a is smaller than b

In [77]:
# multiple cfondition
a = 8
b = 10
if((a>10)and(b>10)):
    print('Both number are greater than 10')
elif(a>5)and(b>5):
    print('Both number are greater than 5')
else:
    print('Condition are not happy')

Both number are greater than 5

In [79]:
# take the input from the user by using the the function
x = input()
x = int(x)
# by default the type is string, so we need to convert the type first
if(x%2==0):
    print("even")
else:
    print("odd")

 23

odd

In [80]:
y = input()
y = int(y)
if(y>90):
    print("Grade A")
elif(y>60):
    print("Grdae B")
else:
    print("Grade Fail")

 89

Grdae B

In [81]:
for number in range(5):
    print(number)

0
1
2
3
4

In [82]:
for number in range(1, 5):
    print(number)

1
2
3
4

In [83]:
for number in range(1, 10, 2):
    print(number, end=  ' ')

1 3 5 7 9

In [84]:
for char in "Arun Patel":
    print(char)

A
r
u
n

P
a
t
e
l

## Nested Loop

In [85]:
for outer_loop_number in range(1, 3):
    for inner_loop_char in "ABC":
        print(outer_loop_number, inner_loop_char)

1 A
1 B
1 C
2 A
2 B
2 C

## While loop

In [86]:
number = 0
while (number < 7):
    print(number)
    number = number+1

0
1
2
3
4
5
6

## 📍📍 Jump Statements in Python (break, continue and pass)

In [1]:
number = 0
for number in range(10):
    if number == 7:
        break
    print('Number is' + str(number))
print('Out of loop')

Number is0
Number is1
Number is2
Number is3
Number is4
Number is5
Number is6
Out of loop

In [1]:
number="12345"
for trail in range(1, 5):
    if trail == 4:
        print('once trail Left!')
        enter_number=input("enter number:")
        if enter_number!=number:
            print("try again")
            continue
        else:
            name=input("enter your number")
            name_city=input("enter your city")
            break

once trail Left!

enter number: 12345
enter your number 12345
enter your city 123345

In [2]:
password="Data"
for password in range(1, 5):
    if password == 4:
        print('once trail left !!')
    enter_password = input("Enter Your Password :")
    if enter_password == password:
        print("Wellcome to Python")
    continue
else:
    print("Wrong password")

Enter Your Password : data
Enter Your Password : data
Enter Your Password : data

once trail left !!

Enter Your Password : data

Wrong password

In [3]:
number = 0
for number in range(10):
    if number == 6:
        continue
        print('number is ' + str(number))
    print('out of loop')

out of loop
out of loop
out of loop
out of loop
out of loop
out of loop
out of loop
out of loop
out of loop

In [4]:
password = "Data"
for password in range(1, 5):
    if password == 4:
        print('once try again!!')
        enter_password = input("Enter your password")
    if enter_password==password:
        print("Wellcome to Pyrhon")
        contiinue
    else:
        print("Worng password")

Worng password
Worng password
Worng password
once try again!!

Enter your password 123345

Worng password

In [5]:
number = 0
for number in range(10):
    if number == 7:
        pass
        print('Number is :', + str(number))
    print('Out of loop')

Out of loop
Out of loop
Out of loop
Out of loop
Out of loop
Out of loop
Out of loop

TypeError: bad operand type for unary +: 'str'

#### <center><h1> 📍 📍 DATA STRUCTURE - LIST 📍 📍 </h1></center>

In [11]:
#creating a list
my_list =[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [12]:
my_list

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [13]:
my_list[4]

5

In [14]:
my_list[-6]

5

In [15]:
my_list[:]

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [16]:
my_list[::]

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [17]:
my_list[::1]

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [18]:
my_list[::2]

[1, 3, 5, 7, 9]

In [19]:
my_list[2:5:2]

[3, 5]

In [20]:
my_list[2:5:2]

[3, 5]

In [21]:
my_list[2:-2]

[3, 4, 5, 6, 7, 8]

In [22]:
my_list[::-1]

[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

## append

In [23]:
my_list

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [24]:
my_list.append(12)

In [25]:
my_list

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 12]

In [26]:
my_list.append([13, 14])

In [27]:
my_list

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 12, [13, 14]]

In [28]:
my_list.append([14, 15, 16])

In [29]:
my_list

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 12, [13, 14], [14, 15, 16]]

In [30]:
my_list.remove(5)

In [31]:
my_list

[1, 2, 3, 4, 6, 7, 8, 9, 10, 12, [13, 14], [14, 15, 16]]

In [32]:
my_list.remove(8)

In [33]:
my_list

[1, 2, 3, 4, 6, 7, 9, 10, 12, [13, 14], [14, 15, 16]]

In [34]:
my_list.remove([13, 14])

In [35]:
my_list

[1, 2, 3, 4, 6, 7, 9, 10, 12, [14, 15, 16]]

In [36]:
my_list.remove(2)

In [37]:
my_list

[1, 3, 4, 6, 7, 9, 10, 12, [14, 15, 16]]

In [38]:
my_list.extend([12, 12, 13, 14])

In [39]:
my_list

[1, 3, 4, 6, 7, 9, 10, 12, [14, 15, 16], 12, 12, 13, 14]

In [40]:
my_list

[1, 3, 4, 6, 7, 9, 10, 12, [14, 15, 16], 12, 12, 13, 14]

In [41]:
my_list.index(5)

ValueError: 5 is not in list

In [42]:
my_list.index(6)

3

In [43]:
my_list

[1, 3, 4, 6, 7, 9, 10, 12, [14, 15, 16], 12, 12, 13, 14]

In [44]:
my_list1=[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [45]:
my_list1

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [46]:
my_list1.append(11)

In [47]:
my_list1

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11]

In [48]:
my_list1.append([12, 13])

In [49]:
my_list1

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, [12, 13]]

In [50]:
my_list1.index(3)

2

In [51]:
my_list1.index([12, 13])

11

In [52]:
my_list1

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, [12, 13]]

In [53]:
my_list1.insert(1, 'A')

In [54]:
my_list1

[1, 'A', 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, [12, 13]]

In [55]:
my_list1.insert(3, 'Python')

In [56]:
my_list1

[1, 'A', 2, 'Python', 3, 4, 5, 6, 7, 8, 9, 10, 11, [12, 13]]

In [57]:
12 in my_list

True

In [58]:
122 in my_list1

False

In [59]:
[12, 13] in my_list1

True

In [60]:
[14, 15] in my_list1

False

In [61]:
[122] not in my_list1

True

In [62]:
del my_list1[3]

In [63]:
my_list1

[1, 'A', 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, [12, 13]]

In [64]:
my_list1.remove(11)

In [65]:
my_list1

[1, 'A', 2, 3, 4, 5, 6, 7, 8, 9, 10, [12, 13]]

In [66]:
for element in my_list1:
    print(element)

1
A
2
3
4
5
6
7
8
9
10
[12, 13]

In [67]:
my_list_2=[1, 3, 7, 9, 10, 4, 6, 2]

In [68]:
my_list_2

[1, 3, 7, 9, 10, 4, 6, 2]

In [69]:
sample_list=[23, 12, 1, 4, 54, 50]
sorted(sample_list)

[1, 4, 12, 23, 50, 54]

In [70]:
sorted(my_list_2)

[1, 2, 3, 4, 6, 7, 9, 10]

In [71]:
len(my_list_2)

8

In [72]:
len(sample_list)

6

In [73]:
sorted(my_list_2, reverse=True)

[10, 9, 7, 6, 4, 3, 2, 1]

In [74]:
sorted(sample_list, reverse=True)

[54, 50, 23, 12, 4, 1]

In [75]:
my_list_3=[1, 2, [3, 4, 5, 6], ['A', 'B', 'C'], 'W', ['A', 'A', 'A']]

In [76]:
my_list_3

[1, 2, [3, 4, 5, 6], ['A', 'B', 'C'], 'W', ['A', 'A', 'A']]

In [77]:
my_list_3[4]

'W'

In [78]:
my_list_3[2]

[3, 4, 5, 6]

In [79]:
len(my_list_3)

6

In [80]:
len(my_list_2)

8

In [81]:
my_list_3[2]

[3, 4, 5, 6]

In [82]:
my_list_3[2][1]

4

In [83]:
my_list_3[-1][-3]

'A'

In [84]:
my_list_3

[1, 2, [3, 4, 5, 6], ['A', 'B', 'C'], 'W', ['A', 'A', 'A']]

### Problem Statement

In [126]:
student_marks =[['Name', ['A', 'B', 'C', 'D', 'E']],
                ['Arun', [78, 69, 90, 50, 45]],
                ['Arjun', [30, 80, 70, 46, 60]],
                ['Sorj', [89, 90, 67, 35, 67]],
                ['Anil', [69, 60, 70, 89, 45]],
                ['Preiya',[45, 70, 78, 100, 60]]
                ]

In [127]:
student_marks[0]

['Name', ['A', 'B', 'C', 'D', 'E']]

In [128]:
student_marks[1]

['Arun', [78, 69, 90, 50, 45]]

In [129]:
student_marks[1][0]

'Arun'

In [130]:
student_marks[1][1]

[78, 69, 90, 50, 45]

In [131]:
student_marks[1][1][1]

69

In [132]:
for student in student_marks[1:]:
    Name=student[0]
    marks_in_B=student[1][3]
    print(Name, marks_in_B)

Arun 50
Arjun 46
Sorj 35
Anil 89
Preiya 100

In [133]:
student_with_marks_in_B=[]
for student in student_marks[1:]:
    name=student[0]
    marks_in_B=student[1][1]
    student_with_marks_in_B.append([marks_in_B, Name])

In [134]:
student_with_marks_in_B

[[69, 'Preiya'],
 [80, 'Preiya'],
 [90, 'Preiya'],
 [60, 'Preiya'],
 [70, 'Preiya']]

In [135]:
sorted(student_with_marks_in_B)

[[60, 'Preiya'],
 [69, 'Preiya'],
 [70, 'Preiya'],
 [80, 'Preiya'],
 [90, 'Preiya']]

In [139]:
sorted(student_with_marks_in_B, reverse=True)[0]

[90, 'Preiya']

In [140]:
my_tuple=('A', 'B', 'B', 'c', 'D', 'E')

In [141]:
my_tuple

('A', 'B', 'B', 'c', 'D', 'E')

In [144]:
my_tuple[1]

'B'

In [145]:
my_tuple[2]

'B'

In [147]:
my_tuple.index('E')

5

In [148]:
my_tuple.count('D')

1

In [149]:
for tuple in my_tuple:
    print(tuple)

A
B
B
c
D
E

In [150]:
my_tuple[:3]

('A', 'B', 'B')

In [155]:
my_tuple[3:5]

('c', 'D')

In [157]:
my_tuple[3:5].count('D')

1

In [160]:
my_tuple[1:4].index('B')

0

In [162]:
my_tuple

('A', 'B', 'B', 'c', 'D', 'E')

In [163]:
my_tuple[2]='D'

TypeError: 'tuple' object does not support item assignment

In [1]:
del my_tuple[0]

NameError: name 'my_tuple' is not defined

---
---

<center><h1> Data Structure - Set 📍📍 </h1></center>

---

#### Defining a set in Python

---

In [2]:
my_set={'D', 'C', 4, 2, 'B', 1, 'E',3}

In [3]:
my_set

{1, 2, 3, 4, 'B', 'C', 'D', 'E'}

In [4]:
my_set={'B', 'E', 1, 1, 'B', 2, 'A', 'B', 3}

In [5]:
my_set

{1, 2, 3, 'A', 'B', 'E'}

#### Defining a set from a List  and Tuple

---

In [6]:
my_list=['A', 'B', 1, 2, 'A', 'B']

In [7]:
my_set_from_list =set(my_list)

In [8]:
my_set_from_list

{1, 2, 'A', 'B'}

In [9]:
my_tuple = ('A', 'B', 1, 2, 'B', 'A')
my_set_from_tuple = set(my_tuple)

In [10]:
my_set_from_tuple

{1, 2, 'A', 'B'}

#### Add an element to the set

---

In [11]:
my_set.add(0)

In [12]:
my_set

{0, 1, 2, 3, 'A', 'B', 'E'}

#### Delete an element from the list

* Discard - It will not throw an error, if the element you want to remove is not present in the set.
* remove - It will throw an error, if the element you want to remove is not present in the set.

---

In [13]:
my_set = {1, 2, 4, 'A', 'B', 'C', 'D', 'E', 'O'}

In [14]:
my_set.discard('A')

In [15]:
my_set

{1, 2, 4, 'B', 'C', 'D', 'E', 'O'}

In [16]:
my_set.discard('X')

In [17]:
my_set.remove('X')

KeyError: 'X'

#### Difference between two Sets

## A-B
---

In [19]:
my_set

{1, 2, 4, 'B', 'C', 'D', 'E', 'O'}

In [20]:
my_set_from_list

{1, 2, 'A', 'B'}

In [23]:
my_set.difference(my_set_from_list)

{4, 'C', 'D', 'E', 'O'}

In [24]:
my_set

{1, 2, 4, 'B', 'C', 'D', 'E', 'O'}

In [25]:
my_set.difference_update(my_set_from_list)

In [26]:
my_set

{4, 'C', 'D', 'E', 'O'}

#### Intersection of two sets

In [28]:
# Set 1
my_set = {1, 2, 4, 'A', 'B', 'C', 'D', 'E', 'O'}

In [30]:
# Set 2 
my_set_from_list

{1, 2, 'A', 'B'}

In [31]:
# intersection of 2 sets
my_set.intersection(my_set_from_list)

{1, 2, 'A', 'B'}

In [32]:
my_set

{1, 2, 4, 'A', 'B', 'C', 'D', 'E', 'O'}

In [33]:
# to update directly, use intersection_update
my_set.intersection_update(my_set_from_list)

In [34]:
my_set

{1, 2, 'A', 'B'}

In [35]:
# define 3 random sets
sample_set_1 = {'A', 'B', 'C', 'D', 'E', 'F'}
sample_set_2 = {'A', 'D', 'E'}
sample_set_3 = {'S', 'T', 'U'}

In [36]:
# check if 2 sets are disjoint sets
sample_set_1.isdisjoint(sample_set_2)

False

In [37]:
sample_set_1.isdisjoint(sample_set_3)

True

In [38]:
# check if one set is subset of another set
sample_set_2.issubset(sample_set_1)

True

In [39]:
# check if one set is superset of another
sample_set_1.issuperset(sample_set_2)

True

In [40]:
# union of 2 sets
sample_set_1.union(sample_set_3)

{'A', 'B', 'C', 'D', 'E', 'F', 'S', 'T', 'U'}

In [41]:
# update a set with new values, it will add the values which are not present in the original set.
sample_set_1.update({'C', 'D', 'E', 'R', 'Z'})

In [42]:
sample_set_1

{'A', 'B', 'C', 'D', 'E', 'F', 'R', 'Z'}

In [43]:
for element in sample_set_1:
    print(element)

R
F
D
C
B
E
A
Z

---
---
## Data Structure: Dictionary🖊🖊

* Dictionary is also a mutable collection. But as you have seen in the list the indexes of the list are integer numbers. Here, indexes for dictionaries can use many different data types, not just integers.
* Indexes for dictionaries are called keys, and a key with its associated value is called a key-value pair.
* Items in the dictionaries are unordered. You can find out the first item in a list simply like my_list[0]. But there is no ✖️ “first” item in a dictionary. 
*  ☑️ Note: Dictionaries in Python 3.7 and later will remember the insertion order of their key-value pairs if you create a sequence value from them. But these are still unordered, as you can’t access items in them using integer indexes.
* When we check whether the 2 lists are same or not the order of values in the list matters. It does not matter in what order the key-value pairs are typed in a dictionary.

📍📍
---

📍📍 ***Defining a dictionary in Python*** 📍📍

In [45]:
my_dictionary = {
    'name'  : 'Arun',
    'age'   : 23,
    'roll_no' : 'CSE20',
    'percentage' : 98,
    'attendence' : 100,
    'city' : 'gur',
    'country' : 'Nepal'
}

In [46]:
my_dictionary

{'name': 'Arun',
 'age': 23,
 'roll_no': 'CSE20',
 'percentage': 98,
 'attendence': 100,
 'city': 'gur',
 'country': 'Nepal'}

In [49]:
print('Name is :', my_dictionary['name'])

Name is : Arun

In [51]:
print('Age before updation is :', my_dictionary['age'])
my_dictionary['age']=25
print('Age after updation is :', my_dictionary['age'])

Age before updation is : 23
Age after updation is : 25

In [52]:
my_dictionary

{'name': 'Arun',
 'age': 25,
 'roll_no': 'CSE20',
 'percentage': 98,
 'attendence': 100,
 'city': 'gur',
 'country': 'Nepal'}

In [54]:
my_dictionary.keys()

dict_keys(['name', 'age', 'roll_no', 'percentage', 'attendence', 'city', 'country'])

In [56]:
my_dictionary.values()

dict_values(['Arun', 25, 'CSE20', 98, 100, 'gur', 'Nepal'])

In [58]:
print(my_dictionary.items())

dict_items([('name', 'Arun'), ('age', 25), ('roll_no', 'CSE20'), ('percentage', 98), ('attendence', 100), ('city', 'gur'), ('country', 'Nepal')])

In [59]:
my_dictionary

{'name': 'Arun',
 'age': 25,
 'roll_no': 'CSE20',
 'percentage': 98,
 'attendence': 100,
 'city': 'gur',
 'country': 'Nepal'}

In [66]:
my_dictionary.update({'Phone' : 9804222057, 'last_name' : 'Patel'})
my_dictionary.update([('House', 2345), ('midle_name', 'Prasad')])

In [61]:
my_dictionary

{'name': 'Arun',
 'age': 25,
 'roll_no': 'CSE20',
 'percentage': 98,
 'attendence': 100,
 'city': 'gur',
 'country': 'Nepal',
 'Phone': 9804222057,
 'last_name': 'Patel'}

---

📍📍 ***Add new key to the dictionary*** 📍📍

---

In [67]:
my_dictionary

{'name': 'Arun',
 'age': 25,
 'roll_no': 'CSE20',
 'percentage': 98,
 'attendence': 100,
 'city': 'gur',
 'country': 'Nepal',
 'Phone': 9804222057,
 'last_name': 'Patel',
 'House': 2345,
 'midle_name': 'Prasad'}

In [68]:
my_dictionary['key'] = 'key_values'

In [69]:
my_dictionary

{'name': 'Arun',
 'age': 25,
 'roll_no': 'CSE20',
 'percentage': 98,
 'attendence': 100,
 'city': 'gur',
 'country': 'Nepal',
 'Phone': 9804222057,
 'last_name': 'Patel',
 'House': 2345,
 'midle_name': 'Prasad',
 'key': 'key_values'}

In [70]:
# add new key to the dictionary:
my_dictionary['new_key'] = 'new_value'

print(my_dictionary)

{'name': 'Arun', 'age': 25, 'roll_no': 'CSE20', 'percentage': 98, 'attendence': 100, 'city': 'gur', 'country': 'Nepal', 'Phone': 9804222057, 'last_name': 'Patel', 'House': 2345, 'midle_name': 'Prasad', 'key': 'key_values', 'new_key': 'new_value'}

In [72]:
sample={
    'string' : 'string',
    10 : 'integer',
    2.4 : 'float',
    'false' : 'boolen'
}

In [79]:
sample['false']

'boolen'

In [80]:
sample={
    'A' : 1,
    'B' : 2,
    'C' : 3,
    'A' : 100
}

In [82]:
sample

{'A': 100, 'B': 2, 'C': 3}

In [81]:
sample['A']

100

In [83]:
sample={
    'A' : 1,
    'B' : 2,
    'C' : 3
}

In [84]:
sample

{'A': 1, 'B': 2, 'C': 3}

In [85]:
sample['B']

2

In [86]:
sample = {
    1 : 'integer',
    [1, 2] : 'list'
}

TypeError: unhashable type: 'list'

In [87]:
sample = {
    1 : 'integer',
    [1, 2] : 'tuple'
}

TypeError: unhashable type: 'list'

In [88]:
sample ={
    1 : 'integer',
    (1, 2) : 'tuple'
}

In [89]:
sample

{1: 'integer', (1, 2): 'tuple'}

In [90]:
my_dict_1 = {
    'key_1' : 'value_1',
    'key_2' : 'value_2',
    'key_3' : 3
}

my_dict_2 = {
    'key_3' : 3,
    'key_1' : 'value_1',
    'key_2' : 'value_2'
}

(my_dict_1 == my_dict_2)

True

In [94]:
for key,value in my_dictionary.items():
    print(key, value)

name Arun
age 25
roll_no CSE20
percentage 98
attendence 100
city gur
country Nepal
Phone 9804222057
last_name Patel
House 2345
midle_name Prasad
key key_values
new_key new_value

In [2]:
m_dict = {
    'KL Rahul' : 45,
    'Rohit'    : 22,
    'Virat'    : 31,
    'Dhawan'   : 17,
    'Rishabh'  : 10 
}

In [5]:
sorted(m_dict.items())

[('Dhawan', 17),
 ('KL Rahul', 45),
 ('Rishabh', 10),
 ('Rohit', 22),
 ('Virat', 31)]

---
---

<center><h1>📍 📍 String Manipulation 📍 📍</h1></center>

---

In [8]:
my_string="My name is Arun prasad patel study at presidential graduatiu school"

In [9]:
my_string

'My name is Arun prasad patel study at presidential graduatiu school'

In [10]:
len(my_string)

67

In [13]:
my_string[12]

'r'

In [14]:
my_string[-1]

'l'

In [16]:
my_string[3:5]

'na'

In [17]:
my_string[10:-10]

' Arun prasad patel study at presidential gradua'

In [19]:
my_string[::-1]

'loohcs uitaudarg laitnediserp ta yduts letap dasarp nurA si eman yM'

In [20]:
my_string

'My name is Arun prasad patel study at presidential graduatiu school'

In [22]:
my_string.count('a')

8

In [23]:
my_string.count('A')

1

In [25]:
my_string[10:-10]

' Arun prasad patel study at presidential gradua'

In [26]:
my_string[10:-10].count('a')

7

In [27]:
my_string[10:-10].count('A')

1

In [28]:
my_string.count('ar')

0

In [29]:
my_string

'My name is Arun prasad patel study at presidential graduatiu school'

In [32]:
my_string.find('next')

-1

In [33]:
my_string.find('python')

-1

In [36]:
my_string

'My name is Arun prasad patel study at presidential graduatiu school'

In [38]:
my_string.index('next')

ValueError: substring not found

In [39]:
my_string.index(*'pryhon')

TypeError: index() takes at most 3 arguments (6 given)

In [40]:
my_string

'My name is Arun prasad patel study at presidential graduatiu school'

In [41]:
my_string.endswith('school')

True

In [42]:
my_string.endswith('arun')

False

In [47]:
my_string.startswith('My')

True

In [46]:
my_string.startswith('study')

False

In [48]:
my_string

'My name is Arun prasad patel study at presidential graduatiu school'

In [49]:
my_string.upper()

'MY NAME IS ARUN PRASAD PATEL STUDY AT PRESIDENTIAL GRADUATIU SCHOOL'

In [50]:
my_string.lower()

'my name is arun prasad patel study at presidential graduatiu school'

In [53]:
my_string.capitalize()

'My name is arun prasad patel study at presidential graduatiu school'

In [54]:
my_string

'My name is Arun prasad patel study at presidential graduatiu school'

In [55]:
my_string.islower()

False

In [56]:
my_string.isupper()

False

In [57]:
"10".isnumeric()

True

In [61]:
"1213as".isnumeric()

False

In [62]:
"python".isalpha()

True

In [63]:
"1212as".isalpha()

False

In [64]:
"1212as".isalnum()

True

In [65]:
string = "AnalyticsVidhya"

In [66]:
string.isalpha()

True

In [67]:
string = "Analytics Vidhya"

In [68]:
string.isalpha()

False

In [70]:
"java is eassy to learn".replace('java', 'python')

'python is eassy to learn'

In [72]:
"python is eassy to learn".split('eassy')

['python is ', ' to learn']

In [73]:
"python is eassy to learn".split('  ')

['python is eassy to learn']

In [74]:
len("python is eassy to learn hii i am arun".split(' '))

9

---

## 📍📍 Defining Functions 📍📍
---

* ***Purpose of functions is to group a particular lines of code that needs to be executed multiple times.***
* ***The keyword `def` introduces a function definition and it must be followed by the function name.***

---

In [78]:
def wellcome():
    print("Wellcome to my house Arun")

In [79]:
wellcome()

Wellcome to my house Arun

In [80]:
wellcome()

Wellcome to my house Arun

In [82]:
def add_two_numbers():
    total = 3+2
    print("sum of 3 and 2 is:", total)

In [84]:
def add_two_numbers():
    total = 3+2
    print("sum of 3 and 2 is:", total)
    return total

In [85]:
add_two_numbers()

sum of 3 and 2 is: 5

5

In [86]:
def sub_two_numbers():
    sub = 30-20
    print("sub of is 30 and 20 is :", sub)
    return sub

In [87]:
sub_two_numbers()

sub of is 30 and 20 is : 10

10

In [89]:
def mult_two_numbers():
    mult = 20*29
    print("mult of 30 ans 20 is :", mult)
    return mult

In [91]:
mult_two_numbers()

mult of 30 ans 20 is : 580

580

In [95]:
def div_two_numbers():
    div = 20%7
    print("div of 20 and 7 is : ", div)
    return div

In [96]:
div_two_numbers()

div of 20 and 7 is :  6

6

---

###  Passing Parameters

---

In [103]:
def welcome(name):
    return "welcome to course, " + name

In [102]:
welcome('Arun')

'welcome to courseArun'

In [104]:
def welcome(name ='Arjun'):
    return "welcome to course, " + name

In [105]:
welcome('arun')

'welcome to course, arun'

In [106]:
welcome()

'welcome to course, Arjun'

---

***`POSITIONAL ARGUMENTS`***

***Most arguments are identified by their position in the function call. `print(a,b)` will give different results from `print(b,a)`***

---

In [110]:
def math_function(small_number, large_number):
    differnce = large_number - small_number
    return differnce

In [113]:
math_function(8, 12)

4

In [115]:
math_function(16,4)

-12

In [118]:
math_function(large_number = 16, small_number= 4)

12

In [119]:
math_function(small_number = 4, large_number= 16)

12

In [120]:
math_function(small_number= 4, 16)

SyntaxError: positional argument follows keyword argument (2750689665.py, line 1)

In [121]:
math_function(4,large_number= 16)

12

---

***`POSITIONAL ARGUMENTS`***

***Most arguments are identified by their position in the function call. `print(a,b)` will give different results from `print(b,a)`***

---

In [4]:
def my_functions(*args):
    for i in args:
        print(i)

In [5]:
my_functions(1, 2, 3, 4)

1
2
3
4

In [7]:
my_functions(1, 2, 3)

1
2
3

In [8]:
my_functions('1', '2', '3', 'Arun', 'Preiya', 'pooja')

1
2
3
Arun
Preiya
pooja

In [9]:
def my_keyword_agruments(**kwargs):
    for key, value in kwargs.items():
        print(key, value)

In [10]:
my_keyword_agruments(a=1, b=2, c=3, d=5)

a 1
b 2
c 3
d 5

In [13]:
my_keyword_agruments(a='Arun', b='preiya')

a Arun
b preiya

---

***Scope of Variables: Local and Global Variables***

---

- **`"Scope of Variable"`** means that part of program where we can access the particular variable.
- **`"Local Variable"`** are those which are defined inside the function and can be only accessed inside that particular function.
- **`"Global Variable"`** are defined outside the function and can be accessed throughout the program.
 
---


***Let's define a global variable, `"name"` outside the function. We will return its value using a function `"my_function"` and see that we would be able to access its value using that function also.***

In [15]:
name = "Variable outside the function"
def my_function():
    return name

In [17]:
print(my_function())

Variable outside the function

In [18]:
name

'Variable outside the function'

In [19]:
name = "Variable outside the function"
def my_function():
    name = "Variable inside the function"
    return name

In [25]:
print(my_function())
print(name)

global
Variable outside the function

In [21]:
name

'Variable outside the function'

In [26]:
name = "Variable outside the function"
def my_function():
    name = "34"
    return name

In [27]:
print(my_function())

34

In [28]:
name

'Variable outside the function'

In [34]:
name ="Variable outside the function"
def my_function():
    global name
    name ="3567"
    name ="Variable inside the function"

In [35]:
print(my_function())
print(name)

None
Variable inside the function

---
---

<center><h1>📍 📍 Lambda Expressions 📍 📍</h1></center>

In [36]:
def add_20(a):
    return a+20

In [40]:
add_20(5)

25

In [46]:
def sub_20(a):
    return a-20

In [47]:
sub_20(10)

-10

In [49]:
var =lambda a : a+20
print('with agrument with value 5: ', var(20))
print('with agrument with value 20:', var(30))

with agrument with value 5:  40
with agrument with value 20: 50

In [53]:
lambda_add = lambda a, b : a+b 
print('with agrument with value 80: ',lambda_add(20, 200))
print('with agrument with value 200: ',lambda_add(200, 300))

with agrument with value 80:  220
with agrument with value 200:  500

In [54]:
lambda_sub = lambda a, b: a-b
print('with agrument value 200: ', lambda_sub(200, 20))
print('with agrument value 300', lambda_sub(300, 59))

with agrument value 200:  180
with agrument value 300 241

In [35]:
lambda_div =lambda a, b :a/b
print('with agrument with value 200 :', lambda_div(200, 20))
print('with agrument value 300:', lambda_div(300, 30))

with agrument with value 200 : 10.0
with agrument value 300: 10.0



---

***FILTER FUNCTION***

***The filter() function in Python takes in a function and a list as arguments. To filter out all the elements of a sequence, for which the function returns True.***

---

In [81]:
def normal_even(x):
    if x%2!=0:
        return True
    else:
        return false

In [84]:
original_list=[1, 2, 3, 4, 5, 6, 7, 8, 9, 12, 13, 14, 15, 16, 20, 24]
filtered_list = list(filter (lambda x :(x%2!=0), original_list))
print('The odd number is', filtered_list)

The odd number is [1, 3, 5, 7, 9, 13, 15]

In [10]:
original_list=[10, 5, 20, 15, 60, 30, 54, 23, 35, 40, 50]
filtered_list = list(filter(lambda x: (x%5==0), original_list))
print('The multiple number is :', filtered_list)

The multiple number is : [10, 5, 20, 15, 60, 30, 35, 40, 50]

In [31]:
original_list=[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15]
filtered_list =list(filter(lambda x: (x%2==0), original_list))
print('The even number is :', filtered_list)

The even number is : [2, 4, 6, 8, 10, 12, 14]

In [12]:
original_list=['Arun', 'Prasad', 'Patel', 'Aashik', 'Ujjwal']
filtered_list = list(filter(lambda x : (x[0]=='A'), original_list))
print('The words string with "A" are is :', filtered_list)

The words string with "A" are is : ['Arun', 'Aashik']



---

***MAP FUNCTION***

***The map() function in Python takes in a function and a list as argument. The function is called with a lambda function and a list and a new list is returned which contains all the lambda modified items returned by that function for each item.***

---

In [13]:
original_list=[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
mapped_list=list(map(lambda x: x*2, original_list))
print('The new list :', mapped_list)

The new list : [2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [16]:
original_list=['Arun', 'prasad', 'patel', 'ujjwal', 'aashik']
mapped_list=list(map(lambda x: x[0].upper()+x[1:], original_list))
print('The new list :', mapped_list)

The new list : ['Arun', 'Prasad', 'Patel', 'Ujjwal', 'Aashik']

In [ ]:
orginal_list['sagar', 'susant', 'preiya', 'sarish']
mapped_list=list((lambda x: x[0].upper()+[3:], original_list))
print_list('The new list')

---

***REDUCE FUNCTION***

* ***The reduce() function in Python takes in a function and a list as argument. The function is called with a lambda function and a list and a new reduced result is returned. This performs a repetitive operation over the pairs of the list.***
* ***The reduce function will always take two parameters***

---

In [21]:
from functools import reduce
original_list=[1, 2, 3, 4, 5, 6, 7, 8, 10, 20, 40]
sum_of_list = reduce((lambda x, y : x+y), original_list)
print('The sum original list is : ', sum_of_list)

The sum original list is :  106

In [36]:
original_list = [110, 53, 3, 424, 255, 16, 42, 256]
largest_number = reduce((lambda x, y: x if (x > y) else y ), original_list) 
print ('Largest Number in the original list is : ',largest_number)

Largest Number in the original list is :  424

---
---

<h1><center> 📍📍RECURSION 📍📍 </h1></center>

---

***We will solve the problem of counting handshakes here.***

- First we, will code the iterative approach then, we will code the recursive approach.

---

#### `ITERATIVE APPROCH`

---

In [39]:
def count_hand_shake_iterative(total_persons_in_room):
    count=0
    for i in range(1, total_persons_in_room):
        for j in range(i+1, total_persons_in_room+1):
            print('Hnad shake of ', i, 'and', j)
            count=count+1
            print('Total number of handshake is : ', count)

In [40]:
count_hand_shake_iterative(total_persons_in_room=5)

Hnad shake of  1 and 2
Total number of handshake is :  1
Hnad shake of  1 and 3
Total number of handshake is :  2
Hnad shake of  1 and 4
Total number of handshake is :  3
Hnad shake of  1 and 5
Total number of handshake is :  4
Hnad shake of  2 and 3
Total number of handshake is :  5
Hnad shake of  2 and 4
Total number of handshake is :  6
Hnad shake of  2 and 5
Total number of handshake is :  7
Hnad shake of  3 and 4
Total number of handshake is :  8
Hnad shake of  3 and 5
Total number of handshake is :  9
Hnad shake of  4 and 5
Total number of handshake is :  10

In [29]:
# define recursive function to count handshakes

def count_hand_shakes(total_persons_in_room):
    
    # Base Condition: When number of persons is 2 (One Handshake)
    if total_persons_in_room == 2:
            return 1
    
    else:
            # F(N) = F(N-1) + (N-1)
            return count_hand_shakes(total_persons_in_room - 1) + (total_persons_in_room - 1)

In [31]:
count_hand_shakes(5)

10

In [32]:
count_hand_shakes(4)

6

In [35]:
# define recursive function to count handshakes

def count_hand_shakes(total_persons_in_room):
    
    # Base Condition: When number of persons is 2 (One Handshake)
    print("The function is called with value: ", total_persons_in_room)
    if total_persons_in_room == 2:
            return 1
    
    else:
            # F(N) = F(N-1) + (N-1)
            return count_hand_shakes(total_persons_in_room - 1) + (total_persons_in_room - 1)

In [36]:
count_hand_shakes(5)

The function is called with value:  5
The function is called with value:  4
The function is called with value:  3
The function is called with value:  2

10

In [37]:
result = count_hand_shakes(4)

The function is called with value:  4
The function is called with value:  3
The function is called with value:  2

In [38]:
result+4

10

---
---

<center><h1> 📍 📍 Standard Libraries in Python 📍 📍</h1></center>

---

### Module

In [159]:
def area_circle(r):
    area =3.14*r*r
    return area

In [160]:
area_circle(1)

3.14

In [163]:
area_circle(3)

28.259999999999998

In [164]:
area_circle(5)

78.5

### Math

In [41]:
import math

In [48]:
math.ceil(20.222)

21

In [49]:
math.floor(20.222)

20

In [50]:
math.factorial(10)

3628800

In [55]:
math.gcd(10,25)

5

### random

In [59]:
import random

In [92]:
random.choice(['Arun', 'Patel', 'Sagar', 'Ujjawal'])

'Arun'

In [96]:
random.sample(range(12,50), 10)

[48, 15, 44, 24, 49, 40, 30, 21, 33, 31]

In [101]:
random.random()

0.01749778580730743

In [107]:
random.uniform(0,2)

1.699536920073289

In [124]:
random.randrange(3, 10)

8

In [134]:
random.randint(6,20)

8

#### `DATE TIME`

---



| **Directive** | **Meaning**                                            |
| ---           | ---                                                    |
|  **%a**       | Weekday as locale’s abbreviated name.                  |
|  **%A**       | Weekday as locale’s full name.                         |  
|  **%d**       | Day of the month as a zero-padded decimal number.      |
|  **%b**       | Month as locale’s abbreviated name.	                 |
|  **%B**       | Month as locale’s full name.	                         |
|  **%m**       | Month as a zero-padded decimal number.                 |
|  **%y**       | Year without century as a zero-padded decimal number.  |
|  **%Y**       | Year with century as a decimal number.                 |
|  **%H**       | Hour (24-hour clock) as a zero-padded decimal number.  |



---

In [135]:
from datetime import date

In [136]:
TODAY=date.today()
print("date", TODAY)

date 2025-02-18

In [139]:
print("formated date :", TODAY.strftime("%m-%d-%y."))

formated date : 02-18-25.

In [142]:
print("formated date :", TODAY.strftime("%d-%b-%Y"))

formated date : 18-Feb-2025

In [143]:
print("formated date :", TODAY.strftime("%A on the %d day of %B."))

formated date : Tuesday on the 18 day of February.

In [146]:
birthday =date(1964, 7, 31)
age=TODAY-birthday
print("Agen in days :", age.days)

Agen in days : 22117

---

#### `OS`  - OPERATING SYSTEM

- The os module provides dozens of functions for interacting with the operating system

In [147]:
import os

In [149]:
print("Get current working directory :", os.getcwd())

Get current working dictionary : C:\Users\HP

In [150]:
print("listing existing directory:")
os.listdir

listing existing directory:

In [151]:
print("make new directory")
os.system('mkdir today')

make new directory

0

In [152]:
print("listing existing directory :")
os.listdir

listing existing directory :

In [153]:
os.chdir('today')

In [154]:
print("get current working directory :", os.getcwd())

get current working directory : C:\Users\HP\today

In [157]:
print("change current directory to sample_data")
print('make new directory')
print('mkdir sample_data')

change current directory to sample_data
make new directory
mkdir sample_data

In [158]:
print("listing existing directory :")
os.system('is')

listing existing directory :

1

In [2]:
def addation(a,b):
    return a+b
def subtraction(a,b):
    return a-b
def multiplication(a,b):
    return a*b
def division(a,b):
    return a/b

In [5]:
from Operator import Arithmetic

In [6]:
dir(Arithmetic)

['__builtins__',
 '__cached__',
 '__doc__',
 '__file__',
 '__loader__',
 '__name__',
 '__package__',
 '__spec__',
 'addation',
 'division',
 'multiplication',
 'subtraction']

In [1]:
import os

In [4]:
print(os.getcwd())

C:\Users\HP